In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

In [5]:
#  Load
prop= pd.read_csv("data/properties.csv")
customer = pd.read_csv("data/customers.csv")

In [6]:

# View first few rows
print(customer.head())
print(prop.head())

   Unnamed: 0 ﻿customerid      entity     name  surname  birth_date  sex  \
0           0       C0110  Individual   Kareem      Liu   5/11/1968    F
1           1       C0010  Individual  Trystan  Oconnor  11/26/1962    M
2           2       C0132  Individual     Kale      Gay    4/7/1959    M
3           3       C0137  Individual  Russell    Gross  11/25/1959    M
4           4       C0174     Company  Marleez       Co         NaN  NaN

  country       state     purpose  deal_satisfaction mortgage   source
0     USA  California        Home                  4      Yes  Website
1     USA  California        Home                  1       No  Website
2     USA  California        Home                  4      Yes   Agency
3     USA  California        Home                  5       No  Website
4    USA   California  Investment                  5       No  Website
   Unnamed: 0   ﻿id  building  date_sale       type  property#     area  \
0           0  1030         1  11/1/2005  Apartment         30   743.09
1           1  1029         1  10/1/2005  Apartment         29   756.21
2           2  2002         2   7/1/2007  Apartment          2   587.28
3           3  2031         2  12/1/2007  Apartment         31  1604.75
4           4  1049         1  11/1/2004  Apartment         49  1375.45

          price  status customerid
0  $246,172.68    Sold      C0028
1  $246,331.90    Sold      C0027
2  $209,280.91    Sold      C0112
3  $452,667.01    Sold      C0160
4  $467,083.31    Sold      C0014

In [7]:
# Basic info
print(customer.info())
print(prop.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162 entries, 0 to 161
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         162 non-null    int64
 1   ﻿customerid        162 non-null    object
 2   entity             162 non-null    object
 3   name               162 non-null    object
 4   surname            162 non-null    object
 5   birth_date         155 non-null    object
 6   sex                155 non-null    object
 7   country            162 non-null    object
 8   state              154 non-null    object
 9   purpose            162 non-null    object
 10  deal_satisfaction  162 non-null    int64
 11  mortgage           162 non-null    object
 12  source             162 non-null    object
dtypes: int64(2), object(11)
memory usage: 16.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 267 entries, 0 to 266
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  267 non-null    int64
 1   ﻿id         267 non-null    int64
 2   building    267 non-null    int64
 3   date_sale   267 non-null    object
 4   type        267 non-null    object
 5   property#   267 non-null    int64
 6   area        267 non-null    float64
 7   price       267 non-null    object
 8   status      267 non-null    object
 9   customerid  195 non-null    object
dtypes: float64(1), int64(4), object(5)
memory usage: 21.0+ KB
None

In [8]:
# Check for missing values
print(customer.isnull().sum())
print(prop.isnull().sum())

Unnamed: 0           0
﻿customerid          0
entity               0
name                 0
surname              0
birth_date           7
sex                  7
country              0
state                8
purpose              0
deal_satisfaction    0
mortgage             0
source               0
dtype: int64
Unnamed: 0     0
﻿id            0
building       0
date_sale      0
type           0
property#      0
area           0
price          0
status         0
customerid    72
dtype: int64

In [9]:
# Check for duplicates
print(customer.duplicated().sum())
print(prop.duplicated().sum())

0
0

In [10]:
# Strip spaces from column names
customer.columns = customer.columns.str.strip().str.lower()
prop.columns = prop.columns.str.strip().str.lower()

print(customer.columns)
print(prop.columns)

Index(['unnamed: 0', '﻿customerid', 'entity', 'name', 'surname', 'birth_date',
       'sex', 'country', 'state', 'purpose', 'deal_satisfaction', 'mortgage',
       'source'],
      dtype='object')
Index(['unnamed: 0', '﻿id', 'building', 'date_sale', 'type', 'property#',
       'area', 'price', 'status', 'customerid'],
      dtype='object')